.sub-weather {

}

.sub-weather-list {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.sub-weather-item {
    height:180px;
    padding:10px;
    display:flex;
    align-items: center;
    border:1px solid gray;
    border-radius: 5px;
}

.sub-weather-icon {
    width:84px;
    height:72px;
}

.sub-empty-weather {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.weather-info {
    width:100%;
}

.weather-info .section {
    display:flex;
    justify-content: space-between;
}

.weather-info .city-info {
    font-size:24px;
}

.weather-info .temperature-info, .weather-info .time-info {
    font-size:20px;
}